<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Add your options and then press the button to make a decision</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="option" *ngFor="let option of options; let i = index">
            <input matInput placeholder="Option {{i + 1}}" [(ngModel)]="option.option" (change)="resetResult()">

            <mat-icon *ngIf="i === (options.length - 1)" matSuffix color="primary" (click)="addOption()">add_box</mat-icon>

            <mat-icon *ngIf="i > 0" matSuffix color="primary" (click)="deleteOption(i)">delete</mat-icon>
        </mat-form-field>

        <div class="button">
            <button mat-raised-button color="primary" (click)="onClick()" [disabled]="!isValid()">Make a decision</button>
        </div>
    </mat-card-content>
</mat-card>
